.dashedDiv {
    border: 1px dashed var(--primary-color);
    background: rgba(18, 146, 91, 0.1);
    padding: 1rem;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
}

.content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.scrollList {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    max-width: 85vw;
    gap: 1rem;
    padding-bottom: 1rem;
}

.relativeLabel {
    background: var(--text-color);
    width: fit-content;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
}

.centered {
    justify-content: center;
}

.columnContent {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.tooltip {
    background: var(--text-color);
    width: 150px;
    height: 150px;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}